@import "../../../../styles/common";

.task {
  @include flex(flex, space-between, baseline);
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px 10px;
  .data {
    display: flex;

    .list {
      color: $purple;
      font-size: 17px;
    }
  }

  .actions {
    .actionIcon {
      cursor: pointer;
      &:nth-of-type(2) {
        color: $red;
      }
    }
  }
}
