@import "./variable.scss";
@import "./mixin/mixin";

body {
  margin: 0;
}

a {
  color: $black;
}
.container {
  margin: 0 50px;
  & {
    @media (max-width: 400px) {
      margin: 0 16px;
    }
  }
}

.textField,
button {
  width: auto;
  border-radius: 50px !important;
  font-size: 12px !important;
}

.width-10 {
  width: 10%;
}

.ml-10{
  margin-left: 10px !important;
}

.purpleButton:nth-of-type(1) {
  background-color: $purple !important;
  color: white;
}
.yellowButton:nth-of-type(2) {
  background-color: $yellow !important;
  color: $black;
}
.redButton {
  background-color: $red !important;
  color: $white !important;
}

.paragraph {
  font-weight: 600;
  font-size: 18px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: $white;
  top: 40%;

  padding: 20px;
  .appBar {
    position: relative;
    background-color: $white;
    color: $black;
    box-shadow: none;

  }
}
