@import "../../../styles/common";

.authLayout {
  min-height: 100vh;
  .leftSide {
    background-color: $yellow;
    @include flex(flex, center, center);
    & {
      @media (max-width:900px) {
        display: none;
      }
    }
  }
  .form {
    text-align: center;
  }
}
